.git
build/
app/build/
.gradle
**/.idea
**/.vscode
**/*.iml
*.log
logs/
var/
*.md
docs/
dashboards/
scripts/
tools/
docker-compose*.yml
prometheus.yml
grafana-*.yml
.dockerignore
Dockerfile
**/target/
**/target/**
**/node_modules/
**/.pytest_cache/
**/__pycache__/
